* {
    margin: 0;
    font-family: 'courier';
}

@font-face {
    font-family: 'poppins';
    src: url(./fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
    font-family: 'poppinss';
    src: url(./fonts/Poppins/Poppins-Light.ttf);
}



/* barre progressive */

#progressBar2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-image: linear-gradient(to right, #ffffff, #ff0000);
    z-index: 9999;
    transition: width 0.3s ease;
}



/* body */

.container {
    background: url(image/informatique.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

h3 {
    font-family: 'poppinss';
}

h4 {
    font-family: 'poppinss';
}

.container p {
    font-family: 'poppinss';
}

/* Présentation */

hr {
    width: 35px;
    height: 4px;
    background: rgb(255, 0, 0);
    margin-top: 65px;
}

h2 {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 20px #fff;
}

main {
    background-color: #fff;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px 260px;
}

.presentation p {
    text-indent: 50px;
    text-align: justify;
    padding-bottom: 120px;
}

.pres {
    font-size: 35px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}



/* OPTIONS BTS */

.categories {
    display: flex;
    padding-bottom: 150px;
    padding-top: 120px;
    background: rgba(202, 202, 202, 0.7);
}

/* background wave catégories */

.custom-shape-divider-top-1681227248 {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1681227248 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 119px;
}

.custom-shape-divider-top-1681227248 .shape-fill {
    fill: #FFFFFF;
}

/* background wave catégories */

h3 {
    font-size: 35px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.SLAM {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px 0px 120px;
}

.SLAM h4 {
    padding-bottom: 10px;
}

.SLAM p {
    text-align: center;
    line-height: 35px;
}

.SISR {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 120px 0px 30px;
}

.SISR h4 {
    padding-bottom: 10px;
}

.SISR p {
    text-align: center;
    line-height: 35px;
}



/* footer */

footer {
    display: flex;
    justify-content: right;
    align-items: center;
    background: rgb(0, 0, 0);
    border-top: 1px solid;
    border-color: rgb(255, 255, 255, .9);
    height: 80px;
    width: 100%;

}

footer p {
    color: white;
    margin-right: 30px;
    padding: 0%;
    font-size: 15px;
}

/* footer */

/* ----------------------------------------------------Responsive------------------------------------------------------------- */


@media only screen and (max-width: 600px) {



    /* corps */

    /* body */

    .container {
        background: url(image/informatique.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: center;
        background-attachment: fixed;
        width: 100%;
    }

    /* Présentation */

    hr {
        width: 35px;
        height: 4px;
        background: rgb(255, 0, 0);
        margin-top: 65px;
    }

    h2 {
        background: rgba(0, 0, 0, 0.3);
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 50px;
        color: white;
        text-shadow: 0px 0px 20px #fff;
    }

    main {
        background-color: #fff;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0px 50px;
    }

    .presentation p {
        text-indent: 50px;
        text-align: justify;
        padding-bottom: 80px;
    }

    .pres {
        font-size: 35px;
        color: transparent;
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
        -webkit-background-clip: text;
        background-clip: text;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        padding-bottom: 10px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }



    h3 {
        font-size: 35px;
        color: transparent;
        background: linear-gradient(to right, #000000, #ff0000);
        -webkit-background-clip: text;
        background-clip: text;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        padding-bottom: 20px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


    .SLAM {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px 50px 30px;
    }

    .SLAM h4 {
        padding-bottom: 10px;
        text-align: center;

    }

    .SLAM p {
        text-align: center;
        line-height: 35px;
    }

    .SISR {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px 0px 30px;
    }

    .SISR h4 {
        padding-bottom: 10px;
        text-align: center;
    }

    .SISR p {
        text-align: center;
        line-height: 35px;
    }

    .categories {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 50px;
        padding-top: 120px;
        background: rgba(202, 202, 202, 0.7);
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    /* corps */
}


@media only screen and (min-width: 2560px) {


    /* barre progressive */

    #progressBar2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 10px;
        background-image: linear-gradient(to right, #ffffff, #ff0000);
        z-index: 9999;
        transition: width 0.3s ease;
    }



    /* body */

    .container {
        background: url(image/informatique.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
    }

    h3 {
        font-family: 'poppinss';
    }

    h4 {
        font-family: 'poppinss';
    }

    .container p {
        font-family: 'poppinss';
    }

    /* Présentation */

    hr {
        width: 62px;
        height: 8px;
        background: rgb(255, 0, 0);
        margin-top: 65px;
    }

    h2 {
        background: rgba(0, 0, 0, 0.3);
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        font-size: 90px;
        color: white;
        text-shadow: 0px 0px 20px #fff;
    }

    main {
        background-color: #fff;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0px 260px;
    }

    .presentation p {
        text-indent: 50px;
        text-align: justify;
        padding-bottom: 120px;
        font-size: 35px;
    }

    .pres {
        font-size: 60px;
        color: transparent;
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
        -webkit-background-clip: text;
        background-clip: text;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        padding-bottom: 10px;
    }

    /* OPTIONS BTS */

.categories {
    display: flex;
    padding-bottom: 150px;
    padding-top: 120px;
    background: rgba(202, 202, 202, 0.7);
}

/* background wave catégories */

h3 {
    font-size: 60px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.SLAM {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px 0px 120px;
}

.SLAM h4 {
    padding-bottom: 30px;
    font-size: 41px;
}

.SLAM p {
    text-align: center;
    line-height: 150%;
    font-size: 35px;
}

.SISR {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 120px 0px 30px;
}

.SISR h4 {
    padding-bottom: 30px;
    font-size: 41px;
}

.SISR p {
    text-align: center;
    line-height: 150%;
    font-size: 35px;
}
}