*{
    margin: 0;
    font-family: 'courier';    
}

hr{
    width: 10%;
}

/* Nav barre */

header{
    height: 80px;
    width: 100%;
    background: rgb(0, 0, 0, .5) ;
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255, .9);
}

header h1{
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 33px;
}

header nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li:hover{
    background: rgba(255, 255, 255, 0.5);
}

header nav ul li a:hover{
    color: rgba(255, 0, 0);
}

header nav ul li {
    font-size: 18px;
    border: 1px rgb(255, 255, 255, .1) solid;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px; 
    display: block;
    padding: 30px 40px;
 
}

/* fin nav barre */

/* body */

.container{
    background: url(image/informatique.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


section{
    margin: 0% 8%;
    padding: 10px 2%;  
}

#profil{
    margin-bottom: 20px;
    font-size: 35px;
}

.profil{
    background: rgb(223, 223, 223);
    margin-top: 5%;
}

.experience{
    background: rgb(223, 223, 223);
}

.projets{
    background: rgb(223, 223, 223);
}

.qualites{
    background: rgb(223, 223, 223);
}

.CV{
    background: rgb(223, 223, 223);
    margin-bottom: 5%;
}


/* body */



/* footer */

footer{
    display: flex;
    justify-content: right;
    align-items: center;
    background: rgba(0, 0, 0, 0.7) ;
    border-top: 1px solid;
    border-color: rgb(255, 255, 255, .9);
    height: 80px;
    width: 100%;

}

footer p{
    color: white;
    margin-right: 30px;
    padding: 0%;
    font-size: 15px;
}

/* footer */