*{
    margin: 0;
    font-family: 'courier';    
}

@font-face{
    font-family: 'poppins';
    src: url(./fonts/Poppins/Poppins-Italic.ttf);
}

@font-face{
    font-family: 'poppinss';
    src: url(./fonts/Poppins/Poppins-Light.ttf);
}

/* Nav barre */

#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-image: linear-gradient(to right, #ffffff, #ff0000);
    z-index: 9999;
    transition: width 0.3s ease;
}
  

/* Nav barre */

.logo{
    width: 270px;
    height: auto;
}

header{
    height: 80px;
    width: 100%;
    background: rgb(0, 0, 0) ;
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255, .9);
}

header h1{
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 33px;
}

header nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li:hover{
    background: rgba(255, 255, 255, 0.5);
    transition: 0.6s;
}

header nav ul li a:hover{
    color: rgba(255, 0, 0);
}

header nav ul li {
    font-size: 18px;
    border: 1px rgb(255, 255, 255, .1) solid;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px; 
    display: block;
    padding: 30px 40px;
 
}

header .menu-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 10%;
    width: 100px;
    filter: invert(100%) sepia(100%) hue-rotate(180deg) saturate(500%);
}

/* fin nav barre */

/* barre progressive */

#progressBar2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-image: linear-gradient(to right, #ffffff, #ff0000);
    z-index: 9999;
    transition: width 0.3s ease;
}

/* ----------------------------------------------------------------------------------------- */

/* body */


/* -------------------------------------------- photo -----------------------------------*/
.Charles{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p{
    font-family: 'poppinss';
    font-weight:lighter;
}

.container{
    background: url(image/informatique.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

section{
    margin: 0% 16%;
    padding: 0% 2%;
}

h3{
    margin-bottom: 18px;
    text-align: left;
    font-size: 36px;
    font-family: poppins;
}

ul{
    text-align: left;
}

.back{
    background: rgba(255, 255, 255, 0.7);
    border-top: #ffffff solid 1px;
}

/*--------------------------------------------------- titre ------------------------------------------ */
#profil{
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 20px #fff;
}

/* -------------------------------------------------- Profil ----------------------------------------- */
.profil{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, .9);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}

.txtprofil{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.txtprofil p{
    text-align: justify;
    margin-right: 70px;
    text-indent: 70px;
    line-height: 30px;
}

/*---------------------------------------------------- expérience -------------------------------------- */
.experience{
    color: #000000;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(218, 218, 218, .9);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}

.experience p{
    text-align: justify;
    text-indent: 70px;
    line-height: 30px;
}

.soleild{
    text-decoration: none;
    color: red;      
}

.soleild:hover {
    text-decoration: underline;
  }
  

/* --------------------------------------------------- projet ------------------------------------------- */

.projets{
    background: rgba(255, 255, 255, .9);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}
  
#li-projet {
    list-style:disc;
    padding: 20px 0;
    font-family: 'poppinss';
}
  
 /*-------------------------------------------------- Compétences ------------------------------------------  */

.competences{
    color: #000000;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(218, 218, 218, .9);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}

.comp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

                                        /*---- html/css ----*/
.html{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.html p{
    text-align: left;
    margin-bottom: 7px;
}
  
.htmlbarre{
    background-color: rgb(255, 255, 255);
    height: 12px;
    width: 350px;
    border-radius: 5px;
}

#htmlbarre{
    background-image: linear-gradient(to right, #FF5733, #C70039);
    border: #ffffff solid 1px;
    border-radius: 5px;
    width: 90%;
    height: 10px;
}

                                        /*---- php ---- */

.php{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.php p{
    text-align: left;
    margin-bottom: 7px;
}
  
.phpbarre{
    background-color: rgb(255, 255, 255);
    height: 12px;
    width: 350px;
    border-radius: 5px;
}

#phpbarre{
    background-image: linear-gradient(to right, #FF5733, #C70039);
    border: #ffffff solid 1px;
    border-radius: 5px;
    width: 65%;
    height: 10px;
}

                                        /*---- MySQL ----*/

.MySQL{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.MySQL p{
    text-align: left;
    margin-bottom: 7px;
}
  
.sqlbarre{
    background-color: rgb(255, 255, 255);
    height: 12px;
    width: 350px;
    border-radius: 5px;
}

#sqlbarre{
    background-image: linear-gradient(to right, #FF5733, #C70039);
    border: #ffffff solid 1px;
    border-radius: 5px;
    width: 75%;
    height: 10px;
}

                                        /*---- js ----*/

.js{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.js p{
    text-align: left;
    margin-bottom: 7px;
}
  
.jsbarre{
    background-color: rgb(255, 255, 255);
    height: 12px;
    width: 350px;
    border-radius: 5px;
}

#jsbarre{
    background-image: linear-gradient(to right, #FF5733, #C70039);
    border: #ffffff solid 1px;
    border-radius: 5px;
    width: 10%;
    height: 10px;
}

                                        /*---- Python ----*/
.python{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.python p{
    text-align: left;
    margin-bottom: 7px;
}
  
.pybarre{
    background-color: rgb(255, 255, 255);
    height: 12px;
    width: 350px;
    border-radius: 5px;
}

#pybarre{
    background-image: linear-gradient(to right, #FF5733, #C70039);
    border: #ffffff solid 1px;
    border-radius: 5px;
    width: 25%;
    height: 10px;
}

                                        /*---- c# ----*/

.cs{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.cs p{
    text-align: left;
    margin-bottom: 7px;
}
  
.csbarre{
    background-color: rgb(255, 255, 255);
    height: 12px;
    width: 350px;
    border-radius: 5px;
}

#csbarre{
    background-image: linear-gradient(to right, #FF5733, #C70039);
    border: #ffffff solid 1px;
    border-radius: 5px;
    width: 18%;
    height: 10px;
}



/*------------------------------------------------ qualités ------------------------------------------------- */

.qualités{
    background: rgba(255, 255, 255, .9);
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}

.quali{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 250px;
  border-bottom: #000000 solid 1px;
  margin: 0px 15px;
  perspective: 800px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-back {
    line-height: auto;
    color: black;
    text-align:justify;
    transform: rotateY(180deg);
}


/*------------------------------------------------ CV -------------------------------------- */
.CV{
    background: rgb(218, 218, 218, .9);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
    padding-top: 40px; 
    margin-bottom: 45px;  
    padding-bottom: 50px;
}

.CV h3{
    margin-bottom: 0%;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-image: linear-gradient(to left, #FF4136, #9B0B0E);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    transition: 0.8s;
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    }

.lien{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  


/* body */

/* ------------------------------------------------------------------------------------------------------- */

/* footer */

footer{
    display: flex;
    justify-content: right;
    align-items: center;
    background: rgb(0, 0, 0) ;
    border-top: 1px solid;
    border-color: rgb(255, 255, 255, .9);
    height: 80px;
    width: 100%;

}

footer p{
    color: white;
    margin-right: 30px;
    padding: 0%;
    font-size: 15px;
}

/* footer */

/* ----------------------------------------------------Responsive------------------------------------------------------------- */


@media only screen and (max-width: 600px) {

    /* nav barre en colonne */
    
        .logo{
            width: 200px;
        }
    
        nav ul{
            background: rgba(255, 255, 255, 0.5);
            -webkit-backdrop-filter: blur(5px); /* pour Safari, iOS et d'autres navigateurs basés sur WebKit */
            backdrop-filter: blur(5px); /* pour les autres navigateurs */
            justify-content: center;
            top: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            padding: 0%;
            margin-left: -100%;
            transition: all 0.5s ease;
        }
    
        header nav ul li {
            display: flex;
            justify-content: center;
            font-size: 34px;
            border: none;
        }
        
        header nav ul li a{
            font-family: 'poppinss';
            text-decoration: none;
            color: rgb(0, 0, 0);
            margin: 0px; 
            display: block;
            padding: 30px 40px;
        }
    
        nav .mobile-menu{
            margin-left: 0;
        }
    
        header .menu-burger{
            display: block;
            position: absolute;
            right: 5%;
            top: 10%;
            width: 100px;
            filter: invert(100%) sepia(100%) hue-rotate(180deg) saturate(500%);
        }
    
        /* fin nav barre */
    
        /* corps */
    
        .container{
            background-position: center;
        }
    
        p{
            text-align: center;
            font-size: 40px;
            color: white;
            padding-top: 40%;
            padding-bottom: 0px;
        }
    
        .mid{
            padding-bottom: 40%;
        }
        
        .c2fde{
            color: #EB0000;
            font-family : 'signature';
            font-size: 110px;
        }
    
        .transparent-button {
            display: none;
        }
    
        body.overflow-hidden{
            overflow: hidden;
        }
        
    
        /* corps */
    }