* {
  margin: 0;
  font-family: 'courier';
}

@font-face {
  font-family: 'poppins';
  src: url(./fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
  font-family: 'poppinss';
  src: url(./fonts/Poppins/Poppins-Light.ttf);
}


/* background */

.container {
  background: url(image/informatique.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

/* background */



/* titre */

#veilleNum {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 20px #fff;
  font-family: 'courier';
}

/* titre  */


/*---- ---------corps---------------- */

.Veille {
  padding: 80px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.pres {
  font-size: 40px;
  color: transparent;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  margin-right: 40%;
  font-family: 'poppinss';
}

.Veille p {
  font-size: 18px;
  line-height: 30px;
  color: #666666;
}


/* séparateur triangle */

.custom-shape-divider-top-1682288821 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1682288821 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1682288821 .shape-fill {
  fill: #ffffff;
}


/* Style de l'Introduction */

.Introduction {
  padding: 80px;
  padding-top: 150px;
  background-color: #F5F5F5;
}

.Introduction h2 {
  font-size: 40px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
  font-family: 'poppinss';
}

.Introduction h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  font-family: 'poppinss';
}

.Introduction p {
  font-size: 18px;
  line-height: 30px;
  color: #666666;
  margin-bottom: 20px;
  font-family: 'poppinss';
}

/* 1ère partie */

.partie1 {
  background-color: #ffffff;
  padding: 50px;
  font-family: 'poppinss';
}

.partie1 h2 {
  font-size: 40px;
  color: transparent;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  margin-right: 40%;
  font-family: 'poppinss';
}

.partie1 h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #008080;
  font-family: 'poppinss';
}

.partie1 p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  font-family: 'poppinss';
}

/* 2ème partie  */

.partie2 {
  background-color: #F5F5F5;
  padding: 50px;
  font-family: 'poppinss';
}

.partie2 h2 {
  font-size: 40px;
  color: transparent;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  margin-right: 40%;
  font-family: 'poppinss';
}

.partie2 h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #008080;
  font-family: 'poppinss';
}

.partie2 p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  font-family: 'poppinss';
}

/* 3ème partie  */

.partie3 {
  background-color: #ffffff;
  padding: 50px;
  padding-bottom: 20px;
  font-family: 'poppinss';
}

.partie3 h2 {
  font-size: 40px;
  color: transparent;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  margin-right: 40%;
  font-family: 'poppinss';
}

.partie3 h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #008080;
  font-family: 'poppinss';
}

.partie3 p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  font-family: 'poppinss';
}

/* vagues  */

.custom-shape-divider-top-1682289504 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1682289504 svg {
  position: relative;
  display: block;
  width: calc(255% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1682289504 .shape-fill {
  fill: #ffffff;
}

/* conclusion  */

.conclusion {
  background-color: #F5F5F5;
  padding: 50px;
  padding-top: 120px;
  font-family: 'poppinss';
}

.conclusion h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #008080;
  font-family: 'poppinss';
}

.conclusion p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  font-family: 'poppinss';
}

/* --------------corps------------- */



/* footer */

footer {
  display: flex;
  justify-content: right;
  align-items: center;
  background: rgb(0, 0, 0);
  border-top: 1px solid;
  border-color: rgb(255, 255, 255, .9);
  height: 80px;
  width: 100%;

}

footer p {
  color: white;
  margin-right: 30px;
  padding: 0%;
  font-size: 15px;
}

/* footer */

/* ----------------------------------------------------Responsive------------------------------------------------------------- */


@media only screen and (max-width: 600px) {



  /* corps */

  .Veille {
    padding: 20px 20px;
    padding-bottom: none;
    background-color: #ffffff;
    font-family: 'poppinss';
  }

  .pres {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-right: 0%;
    margin: 10px 10px 5px 10px;
  }

  .Veille p {
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    text-indent: 60px;
  }

  /* Style de l'Introduction */

  .Introduction {
    padding: 20px 20px;
    padding-top: none;
    background-color: #F5F5F5;
    font-family: 'poppinss';
  }

  .Introduction h2 {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 30px;
    margin-top: 90px;
  }

  .Introduction h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }

  .Introduction p {
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    margin-bottom: 20px;
    text-align: justify;
  }


  body.overflow-hidden {
    overflow: hidden;
  }

  /* 1ère partie */

  .partie1 {
    background-color: #ffffff;
    padding: 20px 20px;
    font-family: 'poppinss';
  }

  .partie1 h2 {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-right: 0%;
    text-align: left;
  }

  .partie1 h3 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #008080;
    text-align: center;
  }

  .partie1 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 60px;
  }

  /* 2ème partie  */

  .partie2 {
    background-color: #F5F5F5;
    padding: 20px 20px;
    font-family: 'poppinss';
  }

  .partie2 h2 {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-right: 0%;
    text-align: left;
  }

  .partie2 h3 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #008080;
    text-align: center;
  }

  .partie2 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 60px;
  }

  /* 3ème partie  */

  .partie3 {
    background-color: #ffffff;
    padding: 20px 20px;
    font-family: 'poppinss';
    padding-bottom: 20px;
  }

  .partie3 h2 {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-right: 0%;
    text-align: left;
  }

  .partie3 h3 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #008080;
    text-align: center;
  }

  .partie3 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 60px;
  }

  /* corps */
}