* {
  margin: 0;
  font-family: 'courier';
}

@font-face {
  font-family: 'poppins';
  src: url(./fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
  font-family: 'poppinss';
  src: url(./fonts/Poppins/Poppins-Light.ttf);
}


#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-image: linear-gradient(to right, #ffffff, #ff0000);
  z-index: 9999;
  transition: width 0.3s ease;
}

/* background */

.container {
  background: url(image/informatique.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

/* background */



/* titre */

#veilleNum {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 20px #fff;
  font-family: 'courier';
}

/* titre  */


/*---- ---------corps---------------- */

.Veille {
  padding: 80px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.pres {
  font-size: 40px;
  color: transparent;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  margin-right: 40%;
  font-family: 'poppinss';
}

.Veille p {
  font-size: 18px;
  line-height: 30px;
  color: #666666;
  font-family: 'poppinss';
}


/* séparateur triangle */

.custom-shape-divider-top-1682288821 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1682288821 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1682288821 .shape-fill {
  fill: #ffffff;
}


/* Style de l'Introduction */

.Introduction {
  padding: 80px;
  padding-top: 150px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.Introduction h2 {
  font-size: 40px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
  font-family: 'poppinss';
}

.Introduction h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  font-family: 'poppinss';
}

.Introduction p {
  font-size: 18px;
  line-height: 30px;
  color: #666666;
  margin-bottom: 20px;
  font-family: 'poppinss';
  text-align: justify;
}

.gauche{
  max-width: 50%;
}

.droite{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator{
  width: 1px;
  background-color: #ff0000;
  margin: 0 40px;
}

/* menu veille num */

.menu-der{
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  width: 100%;
  height: 80%;
  gap: 2rem;
}

/* button:hover {
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(161,54,54,1) 31%, rgba(0,0,0,1) 85%);
  transition: 0.8s ease-in;
} */

.der-content{
  border: 1px solid red;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 30px 0px;
  background: white;
  border-radius: 6px 6px 0 0;
}

.der-content:hover{
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(161,54,54,1) 31%, rgba(0,0,0,1) 85%);
  transition: 0.8s ease;
}

.description{
  display: none;
  text-align: justify;
}

h5{
  align-items: center;
  font-family: 'poppinss';
  font-size: 25px;
}


/* footer */

footer {
  display: flex;
  justify-content: right;
  align-items: center;
  background: rgb(0, 0, 0);
  border-top: 1px solid;
  border-color: rgb(255, 255, 255, .9);
  height: 80px;
  width: 100%;

}

footer p {
  color: white;
  margin-right: 30px;
  padding: 0%;
  font-size: 15px;
}

/* footer */

/* ----------------------------------------------------Responsive------------------------------------------------------------- */


@media only screen and (max-width: 600px) {



  /* corps */

  .Veille {
    padding: 20px 20px;
    padding-bottom: none;
    background-color: #ffffff;
    font-family: 'poppinss';
  }

  .pres {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-right: 0%;
    margin: 10px 10px 5px 10px;
  }

  .Veille p {
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    text-indent: 60px;
  }

  /* Style de l'Introduction */

  .Introduction {
    padding: 20px 20px;
    padding-top: none;
    background-color: #F5F5F5;
    font-family: 'poppinss';
  }

  .Introduction h2 {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 30px;
    margin-top: 90px;
  }

  .Introduction h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }

  .Introduction p {
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    margin-bottom: 20px;
    text-align: justify;
  }


  body.overflow-hidden {
    overflow: hidden;
  }

  /* 1ère partie */

  .partie1 {
    background-color: #ffffff;
    padding: 20px 20px;
    font-family: 'poppinss';
  }

  .partie1 h2 {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-right: 0%;
    text-align: left;
  }

  .partie1 h3 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #008080;
    text-align: center;
  }

  .partie1 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 60px;
  }

  /* 2ème partie  */

  .partie2 {
    background-color: #F5F5F5;
    padding: 20px 20px;
    font-family: 'poppinss';
  }

  .partie2 h2 {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-right: 0%;
    text-align: left;
  }

  .partie2 h3 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #008080;
    text-align: center;
  }

  .partie2 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 60px;
  }

  /* 3ème partie  */

  .partie3 {
    background-color: #ffffff;
    padding: 20px 20px;
    font-family: 'poppinss';
    padding-bottom: 20px;
  }

  .partie3 h2 {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-right: 0%;
    text-align: left;
  }

  .partie3 h3 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #008080;
    text-align: center;
  }

  .partie3 p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 60px;
  }

  /* corps */
}


@media only screen and (min-width: 2560px) {
  /* titre */

  #veilleNum {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 90px;
    color: white;
    text-shadow: 0px 0px 20px #fff;
  }

  /* titre  */

  /*---- ---------corps---------------- */

  .Veille {
    padding: 80px;
    padding-bottom: 20px;
    background-color: #ffffff;
  }

  .pres {
    font-size: 60px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-right: 40%;
    font-family: 'poppinss';
  }

  .Veille p {
    font-size: 35px;
    line-height: 150%;
    color: #666666;
    font-family: 'poppinss';
  }

  /* Style de l'Introduction */

  .Introduction {
    padding: 80px;
    padding-top: 150px;
    background-color: #F5F5F5;
  }

  .Introduction h2 {
    font-size: 60px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 30px;
    font-family: 'poppinss';
  }

  .Introduction h3 {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    font-family: 'poppinss';
  }

  .Introduction p {
    font-size: 35px;
    line-height: 150%;
    color: #666666;
    margin-bottom: 20px;
    font-family: 'poppinss';
  }

  /* 1ère partie */

  .partie1 {
    background-color: #ffffff;
    padding: 50px;
    font-family: 'poppinss';
  }

  .partie1 h2 {
    font-size: 60px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-right: 40%;
    font-family: 'poppinss';
  }

  .partie1 h3 {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #008080;
    font-family: 'poppinss';
  }

  .partie1 p {
    font-size: 35px;
    line-height: 150%;
    color: #555;
    margin-bottom: 20px;
    font-family: 'poppinss';
  }

  /* 2ème partie  */

  .partie2 {
    background-color: #F5F5F5;
    padding: 50px;
    font-family: 'poppinss';
  }

  .partie2 h2 {
    font-size: 60px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-right: 40%;
    font-family: 'poppinss';
  }

  .partie2 h3 {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #008080;
    font-family: 'poppinss';
  }

  .partie2 p {
    font-size: 35px;
    line-height: 150%;
    color: #555;
    margin-bottom: 20px;
    font-family: 'poppinss';
  }

  /* 3ème partie  */

  .partie3 {
    background-color: #ffffff;
    padding: 50px;
    padding-bottom: 20px;
    font-family: 'poppinss';
  }

  .partie3 h2 {
    font-size: 60px;
    color: transparent;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-right: 40%;
    font-family: 'poppinss';
  }

  .partie3 h3 {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #008080;
    font-family: 'poppinss';
  }

  .partie3 p {
    font-size: 35px;
    line-height: 150%;
    color: #555;
    margin-bottom: 20px;
    font-family: 'poppinss';
  }

  /* conclusion  */

  .conclusion {
    background-color: #F5F5F5;
    padding: 50px;
    padding-top: 120px;
    font-family: 'poppinss';
  }

  .conclusion h3 {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #008080;
    font-family: 'poppinss';
  }

  .conclusion p {
    font-size: 35px;
    line-height: 150%;
    color: #555;
    margin-bottom: 20px;
    font-family: 'poppinss';
  }

  /* barre progressive */

  #progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    background-image: linear-gradient(to right, #ffffff, #ff0000);
    z-index: 9999;
    transition: width 0.3s ease;
}
}